<mat-card appearance="outlined" class="product-details">
 <img [src]="childProduct?.picture" mat-card-image class="product-picture">
    <mat-card-content class="product-name">{{childProduct?.productName}}</mat-card-content>
    <mat-card-content class="product-description">{{childProduct?.description}}</mat-card-content>
    <mat-card-content class="product-price">{{childProduct?.price}} €</mat-card-content>
    <button mat-button color="#FFA725" (click)="addToBasket()">In den Warenkorb</button>
  </mat-card>



