.basketview{
    display: flex;
    flex-direction: column;  /* Stapelt die Elemente untereinander */
    gap: 10px;               /* Abstand zwischen den Listenelementen */
    align-items: center;
   
}

.empty-basket {
    display: flex;
    justify-content: center;
}

.checkout {
    display: flex;
    justify-content: center;
}