
.container {
    display: flex;
    justify-content: center; 
    align-items: center;      
    width: 100%            
  }
  
  .user-table {
    height: 40px;             
    width: 200px;
  }
  