<div class="container">
    <mat-card appearance="outlined" class="login-card">
      <mat-card-content>
        <h2>Please Login</h2>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" required class="input-field">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" required class="input-field">
        </mat-form-field>
  
  
        <button mat-flat-button class="login-button">Login</button>
      </mat-card-content>
    </mat-card>
  </div>