<h2 mat-dialog-title>User Bearbeiten</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>userName</mat-label>
        <input matInput [(ngModel)]="user.userName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rolle</mat-label>
        <mat-select [(ngModel)]="user.userRole">
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Admin</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Schließen</button>
    <button mat-button (click)="save()">Übernehmen</button>
</mat-dialog-actions>
